/* debug property */
.grid-item{
    border: 1px solid black;
}
/* 1. definiamo il display GRID*/
.grid-container {
    display: grid;
  }
  /* 2. definimao columns e rows */
  .grid-container {
    grid-template-columns:  2fr 1fr 1fr 1fr;
    grid-template-rows:  repeat(3,minmax(200px,1fr));
    row-gap: 5px;
    column-gap: 10px;
  }
  /* 3. definiamo i grid item */
  .grid-item:nth-child(1){
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
  }
  